<div class="testimonial-slider">
  <div class="testimonial-card">
    <div class="testimonial-icon">
      {% render 'icon-quotes' %}
    </div>
    <div class="testimonial-text">
      First time purchase. Wanted to compliment you on the great coffee – especially Ethiopia ……..mmmmmmmm
    </div>
    <div class="testimonial-image">
      <img src="img/user (2).jpg">
    </div>
    <div class="testimonial-name">Evelyn Ng</div>
  </div>

  <div class="testimonial-card">
    <div class="testimonial-icon">
      {% render 'icon-quotes' %}
    </div>
    <div class="testimonial-text">
      First time purchase. Wanted to compliment you on the great coffee – especially Ethiopia ……..mmmmmmmm
    </div>
    <div class="testimonial-image">
      <img src="img/user (2).jpg">
    </div>
    <div class="testimonial-name">Evelyn Ng</div>
  </div>

  <div class="testimonial-card">
    <div class="testimonial-icon">
      {% render 'icon-quotes' %}
    </div>
    <div class="testimonial-text">
      First time purchase. Wanted to compliment you on the great coffee – especially Ethiopia ……..mmmmmmmm
    </div>
    <div class="testimonial-image">
      <img src="img/user (2).jpg">
    </div>
    <div class="testimonial-name">Evelyn Ng</div>
  </div>

  <div class="testimonial-card">
    <div class="testimonial-icon">
      {% render 'icon-quotes' %}
    </div>
    <div class="testimonial-text">
      First time purchase. Wanted to compliment you on the great coffee – especially Ethiopia ……..mmmmmmmm
    </div>
    <div class="testimonial-image">
      <img src="img/user (2).jpg">
    </div>
    <div class="testimonial-name">Evelyn Ng</div>
  </div>

  <div class="testimonial-card">
    <div class="testimonial-icon">
      {% render 'icon-quotes' %}
    </div>
    <div class="testimonial-text">
      First time purchase. Wanted to compliment you on the great coffee – especially Ethiopia ……..mmmmmmmm
    </div>
    <div class="testimonial-image">
      <img src="img/user (2).jpg">
    </div>
    <div class="testimonial-name">Evelyn Ng</div>
  </div>
</div>
{% schema %}
{
  "name": "testimonial slider",
  "settings": [],
  "blocks": [
    {
      "type": "testimonial",
      "name": "testimonial",
      "settings": [
        {
          "id": "text",
          "label": "Text",
          "type": "richtext"
        },
        {
          "id": "name",
          "label": "Name",
          "type": "text"
        },
        {
          "id": "image",
          "label": "Image",
          "type": "image_picker"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "testimonial slider"
    }
  ]
}
{% endschema %}
